# OS directories and files
.DS_Store
Thumbs.db
temp/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# files that might have secrets in them
**/*.secrets
**/*.local
**/hidden

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# NodeJS & Package Manager files
node_modules/
jspm_packages/
.npm
.yarn-integrity
.node_repl_history

# Distribution directories & Compiled binary addons (http://nodejs.org/api/addons.html)
[Bb]uild
[Dd]ist
dist-ssr
[Bb]uild/Release
[Bb]ackup
[Rr]elease/
.next
*.tgz
*.zip
**/.act.env

# Typescript v1 declaration files
.astro/
typings/

# Formatting outputs
.eslintcache

# Code Coverage outputs (e.g. istanbul, jscoverage, JSCover, nyc, c8)
lib-cov
coverage
.nyc_output

# Runtime data
pids
*.pid
*.seed
*.pid.lock
