
.td{
  width: 10%;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  height: 35px;
}

.form-control-sm {
  height: 26px;
  width: 180px;
}