@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
html {
  height: 100%;
}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #f9f9f9;
  font-weight: 300;
  font-size: 15px;
  color: #984B43;
  overflow: scroll;
  overflow-x: hidden;
}
a {
  color: #984B43;
  text-decoration: none;
}
a:hover {
  color: #AC493F;
  text-decoration: none;
}
.container {
  width: 100%;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
.main.in {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.main.out {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.main p {
  text-align: center;
  padding: 50px 20px;
}
::placeholder {
  color: #FAEBD7;
}
/* Media Queries */
@media screen and (max-width: 37.8125em) {
  .container {
    position: static;
    padding: 0;
  }
  .btn {
    border-radius: 0;
  }
  .empty-component {
    padding: 10px;
  }
  .empty-component h1 {
    font-size: 24px;
  }
}
header {
  text-align: justify;
  letter-spacing: 1px;
  height: 120px;
  padding: 2em 10%;
  color: #984B43;
  font-size: 2em;
}
header .search-form,
header h1,
header nav {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
header .search-form a,
header h1 a,
header nav a {
  color: #AC493F;
  margin-right: 15px;
}
header .search-form .fa,
header h1 .fa,
header nav .fa {
  font-size: 1.3em;
}
header .search-form .fa:before,
header h1 .fa:before,
header nav .fa:before {
  margin: 3px;
}
header h1 {
  padding-bottom: 0.5em;
}
header .search-form {
  width: 70%;
}
header .search-form .input-group .btn,
header .search-form .input-group .form-control {
  border: 3px solid #984B43;
  color: #FAEBD7;
  background: transparent;
  text-shadow: 0 1px 0 #fff;
}
header .search-form .input-group button {
  background: #984B43;
}
header:after {
  content: '';
  display: inline-block;
  width: 100%;
}
@media screen and (max-width: 1020px) {
  header {
    padding: 5px 15px;
  }
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  header .search-form {
    position: absolute;
    top: 60px;
    left: 5%;
    width: 90%;
  }
  header .input-group-lg > .input-group-btn > .btn {
    padding: 5px 10px;
  }
}
.error-component {
  margin: auto;
}
.error-component .error-404:after {
  content: '404';
  font-weight: 900;
  font-size: 400px;
  line-height: 1em;
  color: #eee;
  margin-left: calc(50%/2);
}
.error-component .error-detail {
  position: absolute;
  top: 3em;
  font-size: 2em;
  text-align: center;
  width: 100%;
}
.error {
  margin-top: 2em;
  padding: 2em;
  color: #FAEBD7;
  font-size: 2em;
  background: #272932;
  opacity: 0.9;
}
.products-component {
  background: #272932;
  opacity: 0.9;
}
.products-component .row {
  margin-top: 20px;
}
.products-component .row .product-col .thumbnail {
  height: 250px;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.2);
}
.products-component .row .product-col .thumbnail a.thumbnail-img img {
  max-height: 250px;
  max-width: 250px;
  float: left;
  margin: 0 10px 0 0;
}
.products-component .row .product-col .thumbnail h3 {
  margin-top: 0;
  height: 55px;
  overflow: hidden;
}
.products-component .row .product-col .thumbnail .description {
  height: 145px;
  position: relative;
  overflow: hidden;
}
.products-component .row .product-col .thumbnail .overlay {
  position: absolute;
  right: 0;
  width: 100px;
  margin-right: 16px;
  margin-top: -18px;
  height: 1.5em;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
  background-image: -webkit-linear-gradient(left, transparent, white);
  background-image: -moz-linear-gradient(left, transparent, white);
  background-image: -ms-linear-gradient(left, transparent, white);
  background-image: -o-linear-gradient(left, transparent, white);
}
.products-component .row .product-col .thumbnail .buy-now {
  margin-top: 5px;
  float: right;
  font-weight: 500;
  color: #449d44;
}
.products-component .row .product-col .thumbnail .buy-now:hover {
  color: #AC493F;
}
.product-component {
  /* figcaption */
}
.product-component .product {
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.product-component .product img {
  width: 180px;
}
.product-component figcaption {
  padding-left: 40px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 160px;
}
.product-component figcaption h1 {
  margin: 0;
}
.product-component figcaption span {
  color: #16a085;
  padding: 0.6em 0 1em;
  display: block;
}
.product-component figcaption p {
  color: #63707d;
  line-height: 1.3;
}
.product-component.details {
  margin: 90px auto auto;
}
.product-component.details figcaption {
  width: 75%;
}
.product-component .btn-buy {
  font-size: 150%;
  float: right;
}
/* Media Queries */
@media screen and (max-width: 37.8125em) {
  .products-component {
    padding: 10px;
  }
  .product-component .product {
    margin-top: 15px;
  }
  .product-component .product img {
    margin-left: 25%;
  }
  .product-component figcaption {
    position: static;
    padding-left: 0;
    text-align: center;
    width: 90%;
    margin: 15px auto;
    font-size: 90%;
  }
  .product-component.details {
    width: 100%;
    margin: auto;
  }
  .product-component.details figcaption {
    width: 320px;
  }
  .product-component .purchase {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }
  .product-component .purchase button {
    width: 100%;
  }
}
/* ///////////////////////////////////////////////////

Adapted From: http://tympanus.net/Development/AnimatedBooks/

HARDCOVER
Table of Contents

1. container
2. background & color
3. opening cover, back cover and pages
4. position, transform y transition
5. events
6. Bonus
	- Cover design
	- Ribbon
	- Figcaption
7. mods
8. mini-reset

/////////////////////////////////////////////////////*/
.book-component {
  /*
        2. background & color
    */
  /* HARDCOVER FRONT */
  /* thickness of cover */
  /* page */
  /*
        3. opening cover, back cover and pages
    */
  /*
        4. position, transform & transition
    */
  /* HARDCOVER back */
  /* thickness of cover */
  /* HARDCOVER front */
  /* thickness of cover */
  /* BOOK SPINE */
  /* thickness of book spine */
  /*
        5. events
    */
  /*
        6. Bonus
    */
  /* cover CSS */
  /* Basic ribbon */
  /* figcaption */
}
.book-component ::before,
.book-component ::after {
  content: "";
}
.book-component ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.book-component .read-more {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #2c3e50;
  margin-top: 100px;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
.book-component .read-more:hover {
  border-color: #16a085;
  color: #16a085;
}
.book-component .align {
  clear: both;
  margin: 20px auto 20px;
  width: 100%;
  max-width: 1170px;
  text-align: center;
}
.book-component .align > li {
  width: 500px;
  min-height: 320px;
  display: inline-block;
  margin: 30px 20px 30px 30px;
  padding: 0 0 0 60px;
  vertical-align: top;
}
.book-component .book {
  position: relative;
  width: 160px;
  height: 220px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-left: 65px;
}
.book-component .book-details {
  position: absolute;
  top: -40px;
  left: 300px;
  right: 40px;
  background: #272932;
  opacity: 0.9;
  padding: 2em;
  color: #FAEBD7;
  font-weight: bold;
}
.book-component .purchase {
  margin-top: 30px;
}
.book-component .hardcover_front {
  /* reverse */
  /* HARDCOVER BACK */
  /* reverse */
}
.book-component .hardcover_front li img {
  width: 100%;
  height: 100%;
}
.book-component .hardcover_front li:first-child {
  background-color: #eee;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.book-component .hardcover_front li:last-child {
  background: #fffbec;
}
.book-component .hardcover_front li:first-child {
  background: #fffbec;
}
.book-component .hardcover_front li:last-child {
  background: #fffbec;
}
.book-component .book_spine li:first-child {
  background: #eee;
}
.book-component .book_spine li:last-child {
  background: #333;
}
.book-component .hardcover_front li:first-child:after,
.book-component .hardcover_front li:first-child:before,
.book-component .hardcover_front li:last-child:after,
.book-component .hardcover_front li:last-child:before,
.book-component .hardcover_back li:first-child:after,
.book-component .hardcover_back li:first-child:before,
.book-component .hardcover_back li:last-child:after,
.book-component .hardcover_back li:last-child:before,
.book-component .book_spine li:first-child:after,
.book-component .book_spine li:first-child:before,
.book-component .book_spine li:last-child:after,
.book-component .book_spine li:last-child:before {
  background: #999;
}
.book-component .page > li {
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}
.book-component .hardcover_front {
  -webkit-transform: rotateY(-34deg) translateZ(8px);
  -moz-transform: rotateY(-34deg) translateZ(8px);
  transform: rotateY(-34deg) translateZ(8px);
  z-index: 100;
}
.book-component .hardcover_back {
  -webkit-transform: rotateY(-15deg) translateZ(-8px);
  -moz-transform: rotateY(-15deg) translateZ(-8px);
  transform: rotateY(-15deg) translateZ(-8px);
}
.book-component .page li:nth-child(1) {
  -webkit-transform: rotateY(-28deg);
  -moz-transform: rotateY(-28deg);
  transform: rotateY(-28deg);
}
.book-component .page li:nth-child(2) {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
.book-component .page li:nth-child(3) {
  -webkit-transform: rotateY(-32deg);
  -moz-transform: rotateY(-32deg);
  transform: rotateY(-32deg);
}
.book-component .page li:nth-child(4) {
  -webkit-transform: rotateY(-34deg);
  -moz-transform: rotateY(-34deg);
  transform: rotateY(-34deg);
}
.book-component .page li:nth-child(5) {
  -webkit-transform: rotateY(-36deg);
  -moz-transform: rotateY(-36deg);
  transform: rotateY(-36deg);
}
.book-component .hardcover_front,
.book-component .hardcover_back,
.book-component .book_spine,
.book-component .hardcover_front li,
.book-component .hardcover_back li,
.book-component .book_spine li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.book-component .hardcover_front,
.book-component .hardcover_back {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.book-component .hardcover_front {
  -webkit-transition: all 0.8s ease, z-index 0.6s;
  -moz-transition: all 0.8s ease, z-index 0.6s;
  transition: all 0.8s ease, z-index 0.6s;
  /* HARDCOVER front */
}
.book-component .hardcover_front li:first-child {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}
.book-component .hardcover_front li:last-child {
  -webkit-transform: rotateY(180deg) translateZ(2px);
  -moz-transform: rotateY(180deg) translateZ(2px);
  transform: rotateY(180deg) translateZ(2px);
}
.book-component .hardcover_back li:first-child {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}
.book-component .hardcover_back li:last-child {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
}
.book-component .hardcover_front li:first-child:after,
.book-component .hardcover_front li:first-child:before,
.book-component .hardcover_front li:last-child:after,
.book-component .hardcover_front li:last-child:before,
.book-component .hardcover_back li:first-child:after,
.book-component .hardcover_back li:first-child:before,
.book-component .hardcover_back li:last-child:after,
.book-component .hardcover_back li:last-child:before,
.book-component .book_spine li:first-child:after,
.book-component .book_spine li:first-child:before,
.book-component .book_spine li:last-child:after,
.book-component .book_spine li:last-child:before {
  position: absolute;
  top: 0;
  left: 0;
}
.book-component .hardcover_front li:first-child:after,
.book-component .hardcover_front li:first-child:before {
  width: 4px;
  height: 100%;
}
.book-component .hardcover_front li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book-component .hardcover_front li:first-child:before {
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.book-component .hardcover_front li:last-child:after,
.book-component .hardcover_front li:last-child:before {
  width: 4px;
  height: 160px;
}
.book-component .hardcover_front li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.book-component .hardcover_front li:last-child:before {
  box-shadow: 0px 0px 30px 5px #333;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}
.book-component .hardcover_back li:first-child:after,
.book-component .hardcover_back li:first-child:before {
  width: 4px;
  height: 100%;
}
.book-component .hardcover_back li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book-component .hardcover_back li:first-child:before {
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.book-component .hardcover_back li:last-child:after,
.book-component .hardcover_back li:last-child:before {
  width: 4px;
  height: 160px;
}
.book-component .hardcover_back li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}
.book-component .hardcover_back li:last-child:before {
  box-shadow: 10px -1px 80px 20px #666;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}
.book-component .book_spine {
  -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  width: 16px;
  z-index: 0;
}
.book-component .book_spine li:first-child {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}
.book-component .book_spine li:last-child {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
}
.book-component .book_spine li:first-child:after,
.book-component .book_spine li:first-child:before {
  width: 4px;
  height: 100%;
}
.book-component .book_spine li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book-component .book_spine li:first-child:before {
  -webkit-transform: rotateY(-90deg) translateZ(-12px);
  -moz-transform: rotateY(-90deg) translateZ(-12px);
  transform: rotateY(-90deg) translateZ(-12px);
}
.book-component .book_spine li:last-child:after,
.book-component .book_spine li:last-child:before {
  width: 4px;
  height: 16px;
}
.book-component .book_spine li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}
.book-component .book_spine li:last-child:before {
  box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}
.book-component .page,
.book-component .page > li {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.book-component .page {
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
  z-index: 10;
}
.book-component .page > li {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
}
.book-component .page > li:nth-child(1) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.book-component .page > li:nth-child(2) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.book-component .page > li:nth-child(3) {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.book-component .page > li:nth-child(4) {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.book-component .page > li:nth-child(5) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.book-component .coverDesign {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.book-component .coverDesign::after {
  background-image: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  background-image: linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.book-component .coverDesign h1 {
  color: #fff;
  font-size: 2.2em;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 54% 0 0 0;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.book-component .coverDesign p {
  color: #f8f8f8;
  font-size: 1em;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.book-component .yellow {
  background-color: #f1c40f;
  background-image: -webkit-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
  background-image: -moz-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
  background-image: linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
}
.book-component .blue {
  background-color: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db 58%, #2a90d4 0%);
  background-image: -moz-linear-gradient(top, #3498db 58%, #2a90d4 0%);
  background-image: linear-gradient(top, #3498db 58%, #2a90d4 0%);
}
.book-component .grey {
  background-color: #f8e9d1;
  background-image: -webkit-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
  background-image: -moz-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
  background-image: linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
}
.book-component .ribbon {
  background: #c0392b;
  color: #fff;
  display: block;
  font-size: 0.7em;
  position: absolute;
  top: 11px;
  right: 1px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  -webkit-transform: rotateZ(45deg) translateZ(1px);
  -moz-transform: rotateZ(45deg) translateZ(1px);
  transform: rotateZ(45deg) translateZ(1px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
}
.book-component .ribbon::before,
.book-component .ribbon::after {
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #c0392b;
  border-top: 20px solid transparent;
}
.book-component .ribbon::before {
  left: -20px;
  border-left: 20px solid transparent;
}
.book-component .ribbon::after {
  right: -20px;
  border-right: 20px solid transparent;
}
.book-component figcaption {
  padding-left: 40px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 160px;
  width: 310px;
}
.book-component figcaption h1 {
  margin: 0;
}
.book-component figcaption span {
  color: #16a085;
  padding: 0.6em 0 1em 0;
  display: block;
}
.book-component figcaption p {
  color: #63707d;
  line-height: 1.3;
}
/*
    Modifications
*/
.book-component.details {
  margin: auto;
  margin-top: 90px;
}
.book-component.details figcaption {
  width: 75%;
}
.book-component .btn-buy {
  font-size: 150%;
  float: right;
}
/* Media Queries */
@media screen and (max-width: 37.8125em) {
  .book-component.details {
    margin: 25px auto;
  }
  .book-component .book {
    margin: 0 auto;
  }
  .book-component .book-details {
    position: static;
    text-align: center;
    width: 90%;
    font-size: 90%;
    margin: auto;
  }
  .book-component .purchase button {
    width: 100%;
  }
  .book-component .align > li {
    width: 100%;
    min-height: 440px;
    height: auto;
    padding: 0;
    margin: 0 0 30px 0;
  }
}
#user-registration-form,
#user-login {
  background: #272932;
  opacity: 0.9;
  width: 400px;
  margin: 30px auto;
  padding: 30px;
  padding-bottom: 1px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.2);
}
#user-registration-form button,
#user-login button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#user-registration-form .registration-link,
#user-login .registration-link {
  text-align: center;
}
/* Media Queries */
@media screen and (max-width: 37.8125em) {
  #user-registration-form,
  #user-login {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
body video {
  position: absolute;
  width: 100%;
}
.cart-component {
  background: #272932;
  opacity: 0.9;
  color: #FAEBD7;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: 0.6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}
.stripe {
  /** Page-specific styles */
}
.stripe * {
  box-sizing: border-box;
}
.stripe blockquote,
.stripe body,
.stripe button,
.stripe dd,
.stripe dl,
.stripe figure,
.stripe h1,
.stripe h2,
.stripe h3,
.stripe h4,
.stripe h5,
.stripe h6,
.stripe ol,
.stripe p,
.stripe pre,
.stripe ul {
  margin: 0;
  padding: 0;
}
.stripe ol,
.stripe ul {
  list-style: none;
}
.stripe a {
  text-decoration: none;
}
.stripe button,
.stripe select {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}
.stripe a,
.stripe button,
.stripe input,
.stripe select,
.stripe textarea {
  -webkit-tap-highlight-color: transparent;
}
.stripe :root {
  overflow-x: hidden;
  height: 100%;
}
.stripe body {
  background: #fff;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 62.5%;
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}
.stripe .globalContent {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@font-face {
  font-family: StripeIcons;
  src: url("data:application/octet-stream;base64,d09GRk9UVE8AAAZUAAoAAAAAB6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAADKAAAAx8AAAOKkWuAp0dTVUIAAAZIAAAACgAAAAoAAQAAT1MvMgAAAXAAAABJAAAAYGcdjVZjbWFwAAACvAAAAFYAAACUKEhKfWhlYWQAAAD8AAAAMAAAADYJAklYaGhlYQAAAVAAAAAgAAAAJAYoAa5obXR4AAABLAAAACQAAAAoEOAAWW1heHAAAAD0AAAABgAAAAYAClAAbmFtZQAAAbwAAAD%2FAAABuXejDuxwb3N0AAADFAAAABMAAAAg%2F7gAMgAAUAAACgAAeNpjYGRgYABifeaSpHh%2Bm68MzMwHgCIMl08yqyDo%2F95Mkcy8QC4zAxNIFAD8tAiweNpjfMAQyfiAgYEpgoGBcQmQlmFgYPgAZOtAcQZEDgCHaQVGeNpjYGRgYD7z34eBgSmCgeH%2Ff6ZIBqAICuACAHpYBNp42mNgZtzAOIGBlYGDqYDJgYGBwQNCMwYwGDEcA%2FKBUthBqHe4H4MDg4L6Imae%2Fz4MB5jPMGwBCjOC5Bi9mKYAKQUGBgAFHgteAAAAeNplkMFqwkAURU9itBVKF6XLLrLsxiGKMYH0B4IgoqjdRokajAmNUfolhX5Df7IvZhBt5zHMeffduQwDPPCFQbWM81mzyZ3uocEz95qtK0%2BTN140t2jzLk7DaotiEmk2eWSlucErH5otnvjW3OSTH82tSg8n8eaYRkVXOY4TzIaLURB2tDaPi0OSZ3Y9G09tx6lxm5erPDtVA%2BX7wT7axXm5Vmmy7ClXDfqe515CCJkQs%2BFIKk8t6KJwzhUwY8iCkVBI54%2FvvzKXruBAQk6GfZM0ZipKxdfqVpylfErlP11uKHypgL2k7iSz8qxFTSV5SU%2FIlT2gjyfl%2FgKN9EDsAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAHEEACj8QNOBhYGOyDNAYRMQFpBcZL6ov%2F%2Foaw5%2F%2F%2F%2Ff3kvH8iD2McCxExAO1kYWIE2cjCwAwAgUQwvAAB42mNgZgCD%2F1sZjBiwAAAswgHqAHjaNVFbbxNHGN2JMmtlNnIoZFFx1F2nDoTWgJLIhRQqWlRowyXiUkqE1IZLVW0dJzHYjpAhxnbYi8HXdWxsEKCIi0DdqjxVyhOKkBBS%2FdAX%2FkJfmiCe0Gz4orbjLNFo5uj79B19Z85BXGsLhxAiB7ef%2BFmZGj8XaVb9dgdn%2B5Dd02J%2F2JqFIXtpeQ5Lc6h1YzKbXcN2F%2F2qg373wZ3ly%2Bs5gpCwfpO3d8dnXwyfOheJhC9FgsovsanJ4MCuzw84sN%2BBb1Zh34ADfU7za6fq%2Fyl8Ib7K9E4Eo9HgpHLQu6aL45CB8ug6yqAbKIeyqMAhjjD1nM49596hbqQgHf2B%2Fm5xt3S8sqXlORFe%2FHuSvuD3vesUQ4eVxjgEfm08PWK5%2FoF14lBjDAJvXI0xMRS0%2BMVjbGLIbzV%2BP2y5aOC46IfAb7TzT5cFbSJwEKCc9eXifGgqtOBahN3vWy7aOS76f1zkrVNiaNw1NIpfhyBg8X%2FN428t3v2KJl6KtVqxWpXpCD2Bq5XZW3XPrWv1dMVHEmZy9pr8dhsGdQuhKt%2FTh9Mz6nTCE34Yeyy56byfUHMzqaWrEpRpHldmrpqJrosXPyV0N%2BzAsMJYKzwMwjacTmtXGe9%2B7InkrtPz3aRoaIWPSUEtGjL1wUcYFnoJXeChG7qwpmfUHkI30XsvRdMsmKZMs9TwEsjR67ik6%2Fk14hk4jVcGe4k9yMMojGDNyKiqRy1opi5phUrG7HLDnkfdxOHktZIu072wB9jFhpHReoj3UXNF3lmReb%2FC0eaMx%2BESO1NY1w2myfuMuXW7VKvJ9CQ9im9Wy3XmllpLVX0kWUzNpmW6E%2FrY8ePkjLaV%2FPCMWVTeTJidTYtyuJpuWhSOMYsuwBhMgNK0dCtxS3O7%2Fmtvy7YL9lKn7RfvbODaEerw%2BXfuPfT92WDkiopLpaJZ9pQNUy9JAlNdyjVVH6PDTDV7saB2TadSCVWQYIQeZ2F8QgTVM30zdZtFlcOVSmU1WYFXolFFeRB9Kgt8PJmMx2vJu7IwvZoOS9XRFwsLsXCylKjMyGxXrV5kXxb%2BBxsddR0AAAEAAAAAAAAAAAAA") format("woff");
}
.stripe .container,
.stripe .container-fluid,
.stripe .container-lg,
.stripe .container-wide,
.stripe .container-xl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.stripe .container,
.stripe .container-lg {
  max-width: 1040px;
}
.stripe .container-wide,
.stripe .container-xl {
  max-width: 1160px;
}
.stripe .common-SuperTitle {
  font-weight: 300;
  font-size: 45px;
  line-height: 60px;
  color: #32325d;
  letter-spacing: -0.01em;
}
@media (min-width: 670px) {
  .stripe .common-SuperTitle {
    font-size: 50px;
    line-height: 70px;
  }
}
.stripe .common-IntroText {
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  color: #525f7f;
}
@media (min-width: 670px) {
  .stripe .common-IntroText {
    font-size: 24px;
    line-height: 36px;
  }
}
.stripe .common-BodyText {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #6b7c93;
}
.stripe .common-Link {
  color: #6772e5;
  font-weight: 500;
  transition: color 0.1s ease;
  cursor: pointer;
}
.stripe .common-Link:hover {
  color: #32325d;
}
.stripe .common-Link:active {
  color: #000;
}
.stripe .common-Link--arrow:after {
  font: normal 16px StripeIcons;
  content: "\2192";
  padding-left: 5px;
}
.stripe .common-Button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #6772e5;
  text-decoration: none;
  transition: all 0.15s ease;
}
.stripe .common-Button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.stripe .common-Button:active {
  color: #555abf;
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.stripe .common-Button--default {
  color: #fff;
  background: #6772e5;
}
.stripe .common-Button--default:hover {
  color: #fff;
  background-color: #7795f8;
}
.stripe .common-Button--default:active {
  color: #e6ebf1;
  background-color: #555abf;
}
.stripe .common-Button--dark {
  color: #fff;
  background: #32325d;
}
.stripe .common-Button--dark:hover {
  color: #fff;
  background-color: #43458b;
}
.stripe .common-Button--dark:active {
  color: #e6ebf1;
  background-color: #32325d;
}
.stripe .common-Button--disabled {
  color: #fff;
  background: #aab7c4;
  pointer-events: none;
}
.stripe .common-ButtonIcon {
  display: inline;
  margin: 0 5px 0 0;
  position: relative;
}
.stripe .common-ButtonGroup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
}
.stripe .common-ButtonGroup .common-Button {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes void-animation-out {
  0%,
  to {
    opacity: 1;
  }
}
.stripe body {
  overflow-x: hidden;
  background-color: #f6f9fc;
}
.stripe main {
  position: relative;
  display: block;
  z-index: 1;
}
.stripe .stripes {
  position: absolute;
  width: 100%;
  transform: skewY(-12deg);
  height: 950px;
  top: -350px;
  background: linear-gradient(180deg, #e6ebf1 350px, rgba(230, 235, 241, 0));
}
.stripe .stripes .stripe {
  position: absolute;
  height: 190px;
}
.stripe .stripes .s1 {
  height: 380px;
  top: 0;
  left: 0;
  width: 24%;
  background: linear-gradient(90deg, #e6ebf1, rgba(230, 235, 241, 0));
}
.stripe .stripes .s2 {
  top: 380px;
  left: 4%;
  width: 35%;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.65), hsla(0, 0%, 100%, 0));
}
.stripe .stripes .s3 {
  top: 380px;
  right: 0;
  width: 38%;
  background: linear-gradient(90deg, #e4e9f0, rgba(228, 233, 240, 0));
}
.stripe main > .container-lg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  max-width: 750px;
  padding: 110px 20px;
}
.stripe main > .container-lg .cell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -ms-flex: auto;
  flex: auto;
  min-width: 100%;
  min-height: 500px;
  padding: 0 40px;
}
.stripe main > .container-lg .cell + .cell {
  margin-top: 70px;
}
.stripe main > .container-lg .cell.intro {
  padding: 0;
}
@media (min-width: 670px) {
  .stripe main > .container-lg .cell.intro {
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .stripe .optionList {
    margin-left: 13px;
  }
}
.stripe main > .container-lg .cell.intro > * {
  width: 100%;
  max-width: 700px;
}
.stripe main > .container-lg .cell.intro .common-IntroText {
  margin-top: 10px;
}
.stripe main > .container-lg .cell.intro .common-BodyText {
  margin-top: 15px;
}
.stripe main > .container-lg .cell.intro .common-ButtonGroup {
  width: auto;
  margin-top: 20px;
}
.stripe main > .container-lg .example {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  padding: 80px 0;
  margin-left: -20px;
  margin-right: -20px;
}
@media (min-width: 670px) {
  .stripe main > .container-lg .example {
    padding: 40px;
  }
}
.stripe main > .container-lg .example.submitted form,
.stripe main > .container-lg .example.submitting form {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}
.stripe main > .container-lg .example.submitted .success,
.stripe main > .container-lg .example.submitting .success {
  pointer-events: all;
}
.stripe main > .container-lg .example.submitting .success .icon {
  opacity: 1;
}
.stripe main > .container-lg .example.submitted .success > * {
  opacity: 1;
  transform: none !important;
}
.stripe main > .container-lg .example.submitted .success > :nth-child(2) {
  transition-delay: 0.1s;
}
.stripe main > .container-lg .example.submitted .success > :nth-child(3) {
  transition-delay: 0.2s;
}
.stripe main > .container-lg .example.submitted .success > :nth-child(4) {
  transition-delay: 0.3s;
}
.stripe main > .container-lg .example.submitted .success .icon .border,
.stripe main > .container-lg .example.submitted .success .icon .checkmark {
  opacity: 1;
  stroke-dashoffset: 0 !important;
}
.stripe main > .container-lg .example * {
  margin: 0;
  padding: 0;
}
.stripe main > .container-lg .example .caption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 15px 10px 0;
  color: #aab7c4;
  font-family: Roboto, "Open Sans", "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.stripe main > .container-lg .example .caption * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.stripe main > .container-lg .example .caption .no-charge {
  color: #cfd7df;
  margin-right: 10px;
}
.stripe main > .container-lg .example .caption a.source {
  text-align: right;
  color: inherit;
  transition: color 0.1s ease-in-out;
  margin-left: 10px;
}
.stripe main > .container-lg .example .caption a.source:hover {
  color: #6772e5;
}
.stripe main > .container-lg .example .caption a.source:active {
  color: #43458b;
}
.stripe main > .container-lg .example .caption a.source svg {
  margin-right: 10px;
}
.stripe main > .container-lg .example .caption a.source svg path {
  fill: currentColor;
}
.stripe main > .container-lg .example form {
  position: relative;
  width: 100%;
  max-width: 500px;
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.stripe main > .container-lg .example form input::-webkit-input-placeholder {
  opacity: 1;
}
.stripe main > .container-lg .example form input::-moz-placeholder {
  opacity: 1;
}
.stripe main > .container-lg .example form input:-ms-input-placeholder {
  opacity: 1;
}
.stripe main > .container-lg .example .error {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: 20px;
  left: 0;
  padding: 0 15px;
  font-size: 13px !important;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.stripe main > .container-lg .example .error.visible {
  opacity: 1;
  transform: none;
}
.stripe main > .container-lg .example .error .message {
  font-size: inherit;
}
.stripe main > .container-lg .example .error svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: -1px;
  margin-right: 10px;
}
.stripe main > .container-lg .example .success {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
}
@media (min-width: 670px) {
  .stripe main > .container-lg .example .success {
    padding: 40px;
  }
}
.stripe main > .container-lg .example .success > * {
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translateY(50px);
}
.stripe main > .container-lg .example .success .icon {
  margin: 15px 0 30px;
  transform: translateY(70px) scale(0.75);
}
.stripe main > .container-lg .example .success .icon svg {
  will-change: transform;
}
.stripe main > .container-lg .example .success .icon .border {
  stroke-dasharray: 251;
  stroke-dashoffset: 62.75;
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: spin 1s linear infinite;
}
.stripe main > .container-lg .example .success .icon .checkmark {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}
.stripe main > .container-lg .example .success .title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}
.stripe main > .container-lg .example .success .message {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.6em;
}
.stripe main > .container-lg .example .success .message span {
  font-size: inherit;
}
.stripe main > .container-lg .example .success .reset:active {
  transition-duration: 0.15s;
  transition-delay: 0s;
  opacity: 0.65;
}
.stripe main > .container-lg .example .success .reset svg {
  will-change: transform;
}
.stripe footer {
  position: relative;
  max-width: 750px;
  padding: 50px 20px;
  margin: 0 auto;
}
.stripe .optionList {
  margin: 6px 0;
}
.stripe .optionList li {
  display: inline-block;
  margin-right: 13px;
}
.stripe .optionList a {
  color: #aab7c4;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  font-size: 15px;
  line-height: 26px;
}
.stripe .optionList a.selected {
  color: #6772e5;
  font-weight: 600;
}
.stripe .optionList a:hover {
  color: #32325d;
}
.stripe .optionList a.selected:hover {
  cursor: default;
  color: #6772e5;
}
.stripe .example.example5 {
  background-color: #9169d8;
}
.stripe .example.example5 * {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.stripe #example5-paymentRequest {
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}
.stripe .example.example5 fieldset {
  border: 1px solid #b5a4ed;
  padding: 15px;
  border-radius: 6px;
}
.stripe .example.example5 fieldset legend {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #cdd0f8;
  background-color: #9169d8;
}
.stripe .example.example5 fieldset legend + * {
  clear: both;
}
.stripe .example.example5 .card-only {
  display: block;
}
.stripe .example.example5 .payment-request-available {
  display: none;
}
.stripe .example.example5 .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
}
.stripe .example.example5 .field {
  position: relative;
  width: 100%;
}
.stripe .example.example5 .field + .field {
  margin-left: 10px;
}
.stripe .example.example5 label {
  width: 100%;
  color: #cdd0f8;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.stripe .example.example5 .input {
  width: 100%;
  color: #fff;
  background: transparent;
  padding: 5px 0 6px 0;
  border-bottom: 1px solid #a988ec;
  transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.stripe .example.example5 .input::-webkit-input-placeholder {
  color: #bfaef6;
}
.stripe .example.example5 .input::-moz-placeholder {
  color: #bfaef6;
}
.stripe .example.example5 .input:-ms-input-placeholder {
  color: #bfaef6;
}
.stripe .example.example5 .input.StripeElement--focus,
.stripe .example.example5 .input:focus {
  border-color: #fff;
}
.stripe .example.example5 .input.StripeElement--invalid {
  border-color: #ffc7ee;
}
.stripe .example.example5 input:-webkit-autofill,
.stripe .example.example5 select:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}
.stripe .example.example5 .StripeElement--webkit-autofill {
  background: transparent !important;
}
.stripe .example.example5 input,
.stripe .example.example5 button,
.stripe .example.example5 select {
  -webkit-animation: 1ms void-animation-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  border-radius: 0;
}
.stripe .example.example5 select.input,
.stripe .example.example5 select:-webkit-autofill {
  background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M5.35355339,4.64644661 L9.14644661,0.853553391 L9.14644661,0.853553391 C9.34170876,0.658291245 9.34170876,0.341708755 9.14644661,0.146446609 C9.05267842,0.0526784202 8.92550146,-2.43597394e-17 8.79289322,0 L1.20710678,0 L1.20710678,0 C0.930964406,5.07265313e-17 0.707106781,0.223857625 0.707106781,0.5 C0.707106781,0.632608245 0.759785201,0.759785201 0.853553391,0.853553391 L4.64644661,4.64644661 L4.64644661,4.64644661 C4.84170876,4.84170876 5.15829124,4.84170876 5.35355339,4.64644661 Z" id="shape"></path></svg>');
  background-position: 100%;
  background-size: 10px 5px;
  background-repeat: no-repeat;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.stripe .example.example5 button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0 0;
  background-color: #fff;
  border-radius: 6px;
  color: #9169d8;
  font-weight: 500;
  cursor: pointer;
}
.stripe .example.example5 button:active {
  background-color: #cdd0f8;
}
.stripe .example.example5 .error svg .base {
  fill: #fff;
}
.stripe .example.example5 .error svg .glyph {
  fill: #9169d8;
}
.stripe .example.example5 .error .message {
  color: #fff;
}
.stripe .example.example5 .success .icon .border {
  stroke: #bfaef6;
}
.stripe .example.example5 .success .icon .checkmark {
  stroke: #fff;
}
.stripe .example.example5 .success .title {
  color: #fff;
}
.stripe .example.example5 .success .message {
  color: #cdd0f8;
}
.stripe .example.example5 .success .reset path {
  fill: #fff;
}
.history-component {
  background: #272932;
  opacity: 0.9;
  margin-top: 2em;
  padding: 2em;
}
.history-component .row .heading {
  color: #984B43;
}
.history-component .row .details {
  color: #FAEBD7;
}
.history-component .row .details .label {
  color: #984B43;
}
.history-component .row .details h3 {
  display: inline;
}
.history-component .row .btn-panel {
  padding: 2em;
}
.history-component .row .btn-panel .view {
  background-color: #272932;
  border-color: #FAEBD7;
  background-image: none;
  font-size: 1.2em;
}
.history-component .row .btn-panel .logout {
  background-color: #272932;
  border-color: #984B43;
  background-image: none;
  font-size: 1.3em;
}
.orders-component {
  background: #272932;
  opacity: 0.9;
  margin-top: 2em;
  padding: 2em;
}
.orders-component .product-panel {
  padding: 2em;
}
.orders-component .product-panel label h3 {
  color: #FAEBD7;
}
.orders-component .product-panel label h3 .label-name {
  color: #984B43;
}
.download-component {
  background: #272932;
  opacity: 0.9;
  margin-top: 2em;
  padding: 2em;
}
