{
    "env": {
        "es6": true
    },
    "extends": [
        "plugin:functional/external-vanilla-recommended",
        "plugin:functional/recommended",
        "plugin:functional/stylistic",
        "standard"
    ],
    "plugins": ["functional"],
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "functional/rule-name": "error",
        "import/extensions": [2, "ignorePackages"],
        "import/no-commonjs": 2,
        "import/no-unresolved": 2,
        "no-console": "error",
        "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
        "no-unused-expressions": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts", ".cjs", ".mjs"]
            }
        }
    }
}
