.TabSelector {
    text-align: center;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
    border-radius: 2px;
}

.TabSelector:hover {
    cursor: pointer;
}