<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <script>
    function getAlcoholContent() {
      var text1 = $("#text1").val();
      var text2 = $("#text2").val();
      $.ajax({
        url: "/getAlcoholContent",
        type: "POST",
        data: { text1: text1, text2: text2 },
      }).done(function (response) {
        var html = "<br><p> <b> RESULT : <b><p>";
        response = response.result;
        $.each(response, function (key, val) {
          console.log(val);
          html += "<p>" + val + "<p>";
        });
        html += "<br>";
        $(".part1").html(html);
      });
    }

    function getInfo() {
      var text1 = $("#text1").val();
      var text2 = $("#text2").val();
      $.ajax({
        url: "/getAlcoholInfo",
        type: "POST",
        data: { text2: text2 },
      }).done(function (response) {
        var html = "<br><p> <b> RESULT : <b><p>";
        var list = [];
        response = response.result;
        $.each(response, function (key, val) {
           list.push(val);
        });
        for (var i = 0; i < list.length; i++) {
            if (i == 0) {
                html += "<h2>" + "Image:" + "</h2>";
            } else if (i == 1) {
                html += "<h2>" + "Ingredient:" + "</h2>";
            } else {
                html += "<h2>" + "Instructions:" + "</h2>";
            }

            if (i == 0) {
                html += "<img src = \"" + list[i] + "\" alt=\"cocktail image.\" width=\"300\" height=\"300\">";
            } else {
                html += "<p>" + list[i] + "</p>";
            }

        }
        html += "<br>";
        $(".part2").html(html);
      });
    }
  </script>
  <body>
    <p>
      Enter alcohol name to get its Alcohol content<br /><br />

      Name: <input type="text" id="text1" name="text1" /><br /><br />
      <button id="btn1" onclick="getAlcoholContent()">Submit</button>
    </p>
    <div class="part1"></div>
    <p>
      Enter alcohol name to get its detailed information<br /><br />
      Name: <input type="text" id="text2" name="text2" /><br /><br />
      <button id="btn2" onclick="getInfo()">Submit</button>
    </p>
    <div class="part2"></div>
  </body>
</html>
