<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ScottyBot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<!--
    The general concept of how to make this work was found at:
    https://buffml.com/web-based-chatbot-using-flask-api/
    and modified to fit our project
-->

<body>
    
    <h1>Welcome to ScottyBot</h1>
    
    <section class="chat-section">
        <header class="chat-section-header">
            <div class="chat-section-header-title">
                <h3>ScottyBot</h3>
            </div>
        </header>
        <main class="chat-messages">
        </main>
                        <form class="input-form">
                            <input type="text" class="input-message" id="inputMessage" placeholder="Enter Your Message Here"/>
                            <button type="submit" class="submit-button">Send</button>
                        </form>
    </section>
    <script>
        const chatForm = get(".input-form")
        const chatInput = get(".input-message")
        const chatMessages = get(".chat-messages")

        chatForm.addEventListener("submit", event => {
            event.preventDefault();

            const messageText = chatInput.value;
            if (!messageText) return;

            addMessageToScreen("right", messageText)
            chatInput.value = "";
            scottyResponse(messageText);
        });

        function addMessageToScreen(side, text){
            const messageHTML = `
            <div class="message ${side}-message">
                <div class="message-bubble">
                    <div class="message-text">${text}</div>
                </div>
            </div>
            `;

            chatMessages.insertAdjacentHTML("beforeend", messageHTML);
            chatMessages.scrollTop += 500
        }

        function scottyResponse(text){
            $.get("/get", {message: text}).done(function (data){
                console.log(text);
                console.log(data);
                const messageText = data;
                addMessageToScreen("left", messageText)
            });
        }

        function get(selector, root=document){
            return root.querySelector(selector);
        }
    </script>
</body>

</html>