html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family:  'Montserrat', 'Helvetica Neue', sans-serif; /* For body */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
